VITE_API_URL=http://localhost:8000
VITE_SUPABASE_URL=https://cdfrzzyfkmaswwtdknle.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkZnJ6enlma21hc3d3dGRrbmxlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5NDk5NDQsImV4cCI6MjA4NzUyNTk0NH0.1j272Ad-yLmsBGqnLq-3zgg4VlfSaOsMY7JRJ2Vra44
